.console-output {
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 1rem;
  font-family: monospace;
  border-radius: 6px;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

pre {
  margin: 0;
  padding: 0.2rem 0;
  border-bottom: 1px solid #333;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* Ajusta la altura al 100% del viewport */
}

.footer {

  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px ;
  /* Ajusta la altura al 100% del viewport */

}

.footer h3 {
  color: #555; /* Texto más suave */
  font-family: Arial, sans-serif;
  text-align: center;
}
