.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* Ajusta la altura al 100% del viewport */
}

.footer {

  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px ;
  /* Ajusta la altura al 100% del viewport */

}

.footer h3 {
  color: #555; /* Texto más suave */
  font-family: Arial, sans-serif;
  text-align: center;
}
