<div class="header">
    <div class="imgs">
        <img src="pdnet.jpg" alt="Logo de poderNet">
    </div>

    <p class="header-text"><span style="font-family: Arial, sans-serif; font-weight: bold; font-size: 30px;">Derivado de la necesidad de comunicación del hombre...</span> y{{', siendo Internet el vehículo más vanguardista e innovador con un abanico de posibilidades tan amplio como el pensamiento mismo, surge PoderNet como respuesta a las necesidades de desarrollo.' | transloco }}</p>
</div>