.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fafafa;
    /* Fondo gris muy claro para el formulario */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

h1,
h2 {
    color: #555;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
}

legend {
    font-weight: bold;
    color: #444;
    padding: 0 10px;
}

/* Contenedor de dos columnas dentro de cada fieldset */
.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas de igual ancho */
    gap: 20px;
    /* Espacio entre columnas y filas */
}

/* Agrupación para cada par de label + input */
.two-columns>div {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 5px;
    font-weight: bold;
    color: #333;
}



.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.file-label {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.file-label:hover {
    background-color: #0056b3;
}

.file-input {
    display: none;
    /* Ocultamos el input */
}

.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    font-style: italic;
}










.ng-select {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="time"],
textarea,
select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Botón de Enviar */
.btn-submit {
    display: inline-block;
    background-color: #00008b;
    /* Azul oscuro/negro */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 45%;

}

@media (max-width: 768px) {
    .btn-submit {
        margin-left: 35%;
    }
}

/* Estilos globales */
.pre {
    width: 100%;
    border-collapse: collapse;
}

.pre,
tr,
td {
    padding: 8px;
    text-align: center;
    padding-left: 50px;

}



/* Media query para pantallas con un ancho máximo de 500px */
@media (max-width: 420px) {
    .pre {
        width: 10px;
        /* Ajusta el ancho de la tabla */
        font-size: 12px;
        /* Ajusta el tamaño del texto en la tabla */
    }

    .pre,
    tr,
    td {
        padding: 8px;
        text-align: left;
        font-size: 5px;
    }
}

/* Media query para pantallas con un ancho entre 450px y 500px */
@media (min-width: 421px) and (max-width: 550px) {
    .pre {
        width: 10px;
        /* Ajusta el ancho de la tabla */
        font-size: 12px;
        /* Ajusta el tamaño del texto en la tabla */
    }

    .pre,
    tr,
    td {
        padding: 8px;
        text-align: left;
        font-size: 8px;
    }
}



.btn-submit:hover {
    background-color: #333;
    /* Oscurecer un poco al pasar el mouse */
}

::placeholder {
    font-style: italic;
}