<div class="container">
  <h2 style="text-align: center; margin-bottom: 5%;">{{'ALTA PARA CLIENTES' | transloco}}</h2>
  <select (change)="changeLang($event)" class="language-select">
    <option value="es">Español</option>
    <option value="en">English</option>
    <option value="zh">中文</option>
    <option value="ko">한국어</option>
  </select>


  <form>
    <!-- INFORMACION PREELIMINAR -->
    <fieldset style="padding: 10px; border: 2px solid #ccc; border-radius: 8px;">
      <legend>{{'INFORMACION PREELIMINAR' | transloco}}</legend>
      <div style="display: flex; justify-content: space-between; width: 100%; font-size: smaller;">
        <table class="pree">
          <tr>
            <td>
              <h3>EL PODER DE INTERNET</h3>
            </td>
            <td>
              <h3>PDI111104D92</h3>
            </td>
            <td>
              <h3>pagos&#64;elpoderdeinternet.mx, facturas&#64;elpoderdeinternet.mx</h3>
            </td>
          </tr>
        </table>
      </div>
    </fieldset>

    <br>

    <!-- DATOS FISCALES PERSONA FISICA O MORAL -->
    <fieldset>
      <legend>{{'DATOS FISCALES PERSONA FISICA O MORAL' | transloco }}</legend>
      <br>
      <div class="two-columns">
        <div>
          <label for="razonSocial">{{'Razón Social / Nombre (Obligatorio)'| transloco }}<span
              style="color: red;">*</span></label>
          <input maxlength="50" placeholder="{{ 'Puede poner el nombre o la razón social' | transloco }}" type="text"
            id="razonSocial" name="rasonName" [(ngModel)]="rasonName" />
        </div>

        <div style="width: 100%; max-width: 400px; margin: auto;">
          <label for="">{{ '(Obligatorio)' | transloco }}<span style="color: red;">*</span></label>
          <ng-select [items]="translatedRegimenes" bindLabel="nombre"
            placeholder="{{'Selecciona un régimen fiscal' | transloco}}" [(ngModel)]="regimenSeleccionado"
            name="regimenSeleccionado" class="custom-ng-select" [clearable]="true" [searchable]="true"
            dropdownPosition="auto">

          </ng-select>
        </div>

        <div>
          <label for="rfc">{{ 'RFC' | transloco }}</label>
          <small><i>{{ 'Solo de requerir factura' | transloco }}</i></small>
          <input maxlength="50" type="text" id="rfc" name="rfc" [(ngModel)]="rfc" />
        </div>

        <div>
          <label for="calle" style="margin-top: 20px;">{{ 'Calle' | transloco }}</label>
          <input maxlength="50" type="text" id="calle" name="callePerson" [(ngModel)]="callePerson" />
        </div>
        <div>
          <label for="numExt">{{ 'N° Ext.' | transloco }}</label>
          <input maxlength="20" type="text" id="numExt" name="no_extPerson" [(ngModel)]="no_extPerson" />
        </div>
        <div>
          <label for="numInt">{{ 'N° Int.' | transloco }}</label>
          <input maxlength="50" type="text" id="numInt" name="no_intPerson" [(ngModel)]="no_intPerson" />
        </div>
        <div>
          <label for="colonia">{{ 'Colonia' | transloco }}</label>
          <input maxlength="50" type="text" id="colonia" name="coloniaPerson" [(ngModel)]="coloniaPerson" />
        </div>
        <div>
          <label for="cp">{{ 'C.P.' | transloco }}</label>
          <input maxlength="10" type="text" id="cp" name="cpPerson" [(ngModel)]="cpPerson"
            placeholder="{{ 'Código Postal. Ejemplo: 785443' | transloco }}" />
        </div>
        <div style="height: 75.67px;">
          <label for="municipio">{{ 'Municipio' | transloco }}</label>
          <input maxlength="50" type="text" id="municipio" name="municipioPerson" [(ngModel)]="municipioPerson" />
        </div>
        <div>
          <div>
            <div style="width: 100%; max-width: 400px; margin: auto;">
              <ng-select [items]="local" bindLabel="nombre" placeholder="{{ 'Seleccione el estado' | transloco }}"
                [(ngModel)]="localSelected" [multiple]="false" name="localSelected" class="custom-ng-select"
                [clearable]="true" [searchable]="true" dropdownPosition="auto">

              </ng-select>
            </div>
          </div>
          <label for="poblacion">{{ 'Población' | transloco }}</label>
          <input type="text" id="poblacion" name="poblationPerson" [(ngModel)]="poblationPerson" />
        </div>
        <div>
          <label for="pais">{{ 'País' | transloco }}</label>
          <input type="text" id="pais" name="countryPerson" [(ngModel)]="countryPerson" />
        </div>

        <div>
          <label for="zona">{{ 'Zona' | transloco }}</label>
          <input maxlength="20" type="text" id="zona" name="zone" [(ngModel)]="zone" />
        </div>
        <div>
          <label for="telefono">{{ 'Teléfono con lada (Obligatorio)' | transloco }}<span
              style="color: red;">*</span></label>
          <input type="tel" id="telefono" name="telPerson" [(ngModel)]="telPerson"
            placeholder="{{ 'Ejemplo:524443698521' | transloco }}" />
        </div>
        <div>
          <label for="ext">{{ 'Ext.' | transloco }}</label>
          <input type="text" id="ext" name="ext" />
        </div>
        <div>
          <label for="correo">{{ 'Correo Electrónico (Obligatorio)' | transloco }}<span
              style="color: red;">*</span></label>
          <input type="email" id="correo" name="emailPerson" [(ngModel)]="emailPerson" />
        </div>
        <div>
          <label for="paginaWeb">{{ 'Página Web' | transloco }}</label>
          <input type="text" id="paginaWeb" name="webPage" [(ngModel)]="webPage" />
        </div>
      </div>
    </fieldset>

    <!-- DOMICILIO DE INSTALACION -->
    <fieldset>
      <legend>{{ 'DOMICILIO DE INSTALACIÓN' | transloco }}</legend>
      <p><i><strong>{{ 'Llenar solo si la dirección es diferente a la de instalación' | transloco }}</strong></i></p>
      <div class="two-columns">
        <div>
          <label for="calleInst">{{ 'Calle' | transloco }}</label>
          <input maxlength="60" type="text" id="calleInst" name="calleInst" [(ngModel)]="calleInst" />
        </div>
        <div>
          <label for="numExtInst">{{ 'N° Ext.' | transloco }}</label>
          <input maxlength="60" type="text" id="numExtInst" name="no_extInst" [(ngModel)]="no_extInst" />
        </div>
        <div>
          <label for="numIntInst">{{ 'N° Int.' | transloco }}</label>
          <input maxlength="60" type="text" id="numIntInst" name="no_intInst" [(ngModel)]="no_intInst" />
        </div>
        <div>
          <label for="coloniaInst">{{ 'Colonia' | transloco }}</label>
          <input maxlength="60" type="text" id="coloniaInst" name="coloniaInst" [(ngModel)]="coloniaInst" />
        </div>
        <div>
          <label for="cpInst">{{ 'C.P.' | transloco }}</label>
          <input maxlength="60" type="text" id="cpInst" name="cpInst" [(ngModel)]="cpInst" />
        </div>
        <div>
          <label for="municipioInst">{{ 'Municipio' | transloco }}</label>
          <input maxlength="60" type="text" id="municipioInst" name="municipioInst" [(ngModel)]="municipioInst" />
        </div>
        <div>
          <label for="estadoInst">{{ 'Estado' | transloco }}</label>
          <input maxlength="60" type="text" id="estadoInst" name="localInst" [(ngModel)]="localInst" />
        </div>
        <div>
          <label for="poblacionInst">{{ 'Población' | transloco }}</label>
          <input maxlength="60" type="text" id="poblacionInst" name="poblationInst" [(ngModel)]="poblationInst" />
        </div>
        <div>
          <label for="paisInst">{{ 'País' | transloco }}</label>
          <input maxlength="60" type="text" id="paisInst" name="countryInst" [(ngModel)]="countryInst" />
        </div>

        <div>
          <label for="zonaInst">{{ 'Zona' | transloco }}</label>
          <input maxlength="60" type="text" id="zonaInst" name="zoneInst" [(ngModel)]="zoneInst" />
        </div>
        <div>
          <label for="telefonoInst">{{ 'Teléfono con lada' | transloco }}</label>
          <input type="tel" id="telefonoInst" name="telInst" [(ngModel)]="telInst" />
        </div>
        <div>
          <label for="extInst">{{ 'Ext.' | transloco }}</label>
          <input maxlength="30" type="text" id="extInst" name="extInst" />
        </div>
      </div>
    </fieldset>

    <!-- INFORMACION PARA FACTURACION -->
    <button type="button" (click)="isFactu = !isFactu" style="margin-bottom: 20px;  margin-left: 44%;">
      {{ (!isFactu ? 'Quiero Facturar' : 'Ocultar') | transloco }}
    </button>
    <fieldset *ngIf="isFactu" class="shake" style="border-color: blue;" id="facturacionFieldset">
      <button type="button" (click)="useDataPFactu()" style="margin-bottom: 20px;">
        {{ "Usar Datos de Contacto" | transloco }}
      </button>
      <legend>{{ 'INFORMACIÓN PARA FACTURACIÓN' | transloco }}</legend>
      <div class="two-columns">
        <div>
          <label for="encargadoFact">{{ 'Nombre del Encargado(a)' | transloco }}</label>
          <input maxlength="100" type="text" id="encargadoFact" name="nameFact" [(ngModel)]="nameFact" />
        </div>
        <div>
          <label for="puestoFact">{{ 'Puesto' | transloco }}</label>
          <input maxlength="60" type="text" id="puestoFact" name="puestoFact" [(ngModel)]="puestoFact" />
        </div>
        <div>
          <label for="telFact">{{ 'Teléfono con lada' | transloco }}</label>
          <input type="tel" id="telFact" name="telFact" [(ngModel)]="telFact" />
        </div>
        <div>
          <label for="extFact">{{ 'Ext.' | transloco }}</label>
          <input maxlength="60" type="text" id="extFact" name="extFact" />
        </div>
        <div>
          <label for="celFact">{{'Celular' | transloco }}</label>
          <input type="tel" id="celFact" name="celFact" maxlength="12" [(ngModel)]="celFact"
            placeholder="{{ 'Ejemplo: 524434623914321' | transloco }}" />
          <small>{{ 'Número de celular con clave lada' | transloco }}</small>
        </div>
        <div>
          <label for="correoFact">{{ 'Correo Electrónico' | transloco }}</label>
          <input type="email" id="correoFact" name="emailFact" [(ngModel)]="emailFact" />
        </div>
        <div>
          <div style="width: 100%; max-width: 400px; margin: auto;">
            <ng-select [items]="translatedCfdi" bindLabel="descripcion"
              placeholder="{{ 'Selecciona un CFDI' | transloco }}" [(ngModel)]="cfdiSelected" [multiple]="false"
              name="cfdiSelected" class="custom-ng-select" [clearable]="true" [searchable]="true"
              dropdownPosition="auto">

            </ng-select>
          </div>
        </div>
        <div style="width: 100%; max-width: 400px; margin: auto;">
          <ng-select [items]="translatedWayPage" bindLabel="descripcion" [(ngModel)]="wayPageSelected"
            placeholder="{{ 'Selecciona el Método de pago' | transloco }}" [multiple]="false" [clearable]="true"
            [searchable]="true" dropdownPosition="auto" name="wayPageSelected" class="custom-ng-select">

          </ng-select>
        </div>
        <div style="grid-column: 1 / span 2;">
          <label for="datosAdicionalesFactura">{{ 'Datos adicionales para su Factura' | transloco }}</label>
          <textarea id="datosAdicionalesFactura" name="aditionalData" [(ngModel)]="aditionalData" rows="3"></textarea>
        </div>
      </div>
    </fieldset>

    <!-- INFORMACION PARA COBRANZA -->
    <fieldset>
      <legend>{{ 'INFORMACIÓN PARA COBRANZA' | transloco }}</legend>
      <button type="button" (click)="useDataPCobra()" style="margin-bottom: 20px;">
        {{ "Usar Datos de Contacto" | transloco }}
      </button>
      <div class="two-columns">
        <div>
          <label for="encargadoCob">{{ 'Nombre del Encargado(a)' | transloco }}</label>
          <input maxlength="60" type="text" id="encargadoCob" name="nameCobra" [(ngModel)]="nameCobra" />
        </div>
        <div>
          <label for="puestoCob">{{ 'Puesto' | transloco }}</label>
          <input maxlength="60" type="text" id="puestoCob" name="puestoCobra" [(ngModel)]="puestoCobra" />
        </div>
        <div>
          <label for="telCob">{{ 'Teléfono con lada' | transloco }}</label>
          <input type="text" id="telCob" name="telCobra" [(ngModel)]="telCobra" maxlength="12" />
        </div>
        <div>
          <label for="extCob">{{ 'Ext.' | transloco }}</label>
          <input maxlength="60" type="text" id="extCob" name="extCob" />
        </div>
        <div>
          <label for="celCob">{{ 'Celular (Obligatorio)' | transloco }}<span style="color: red;">*</span></label>
          <input type="tel" id="celCob" maxlength="12" name="celCobra" [(ngModel)]="celCobra" />
        </div>
        <div>
          <label for="correoCob">{{ 'Correo Electrónico (Obligatorio)' | transloco }}<span
              style="color: red;">*</span></label>
          <input type="email" id="correoCob" name="emailCobra" [(ngModel)]="emailCobra" />
        </div>
      </div>
    </fieldset>

    <!-- INFORMACION BANCARIA -->
    <fieldset>
      <legend>{{ 'INFORMACIÓN BANCARIA' | transloco }}</legend>
      <div class="two-columns">
        <div>
          <label for="numCuenta">{{ 'Número de Cuenta' | transloco }}</label>
          <input maxlength="50" type="text" id="numCuenta" name="no_count" [(ngModel)]="no_count" />
        </div>
        <div>
          <label for="numClabe">{{ 'Número de Cuenta Clabe' | transloco }}</label>
          <input maxlength="50" type="text" id="numClabe" name="no_clabe" [(ngModel)]="no_clabe" />
        </div>
        <div>
          <div style="width: 100%; max-width: 400px; margin: auto;">
            <ng-select [items]="banks" bindLabel="nombre" placeholder="{{ 'Seleccione un Banco' | transloco }}"
              [(ngModel)]="bankSelected" [multiple]="false" name="bankSelected" class="custom-ng-select"
              [clearable]="true" [searchable]="true" dropdownPosition="auto">

            </ng-select>
          </div>
        </div>
      </div>
      <p><em>{{'NOTA: Favor de anexar copia de carátula bancaria' | transloco }}</em></p>

      <div class="file-upload">
        <small><i> {{'Usar .PDF' | transloco }} </i></small>
        <label for="fileInput" class="file-label">{{'Subir Carátula Bancaria' | transloco}}</label>
        <input type="file" accept="pdf" id="fileInput" class="file-input" (change)="onFileSelected($event, 'bankFile')">
        <span class="file-name" style="color: green" *ngIf="bankFileName">{{bankFileName}}</span>


        <span class="file-name" style="color: red; font-size:medium;" *ngIf="bankFileName === ''">{{'*Ningún archivo
          seleccionado' | transloco }}</span>
        <br>

      </div>





    </fieldset>

    <!-- INFORMACION ADICIONAL PARA REALIZAR PAGOS -->
    <fieldset>
      <legend>{{'INFORMACIÓN ADICIONAL PARA REALIZAR PAGOS' | transloco }}</legend>
      <h4>{{'Pago en Efectivo' | transloco }}</h4>
      <p>{{'Banco Mercantil del Norte S.A' | transloco}}</p>
      <p>{{'Se realiza directamente en ventanilla bancaria. Cuenta CEP: 2948' | transloco }}</p>
      <p>{{'Referencia N° 1: Número de Cliente' | transloco }}</p>
      <p>{{'Referencia N° 2: Nombre de Cliente' | transloco }}</p>
      <p>{{'Forma de Pago: 01 - Efectivo' | transloco }}</p>
      <p>{{'Nombre del banco' | transloco }}</p>


      <h4>{{'Pago por Transferencia Bancaria' | transloco }}</h4>
      <p>{{'Banco Mercantil del Norte S.A' | transloco }}</p>
      <p>{{'Número de Cuenta: 0807 58 4141' | transloco }}</p>
      <p>{{'Cuenta Clabe: 072 700 00807584141 4' | transloco }}</p>

      <p>
        <strong>Estimado cliente:</strong> {{'Recuerde que para brindar un mejor servicio y evitar cortes, es
        indispensable referenciar sus pagos.' | transloco}}
      </p>
    </fieldset>

    <!-- CONTACTO DE SITIO -->
    <fieldset>
      <legend>{{ 'CONTACTO DE SITIO' | transloco }}</legend>
      <div class="two-columns">
        <div>
          <label for="ubicacion">{{ 'Ubicación' | transloco }}</label>
          <input type="text" id="ubicacion" name="ubicationSite" [(ngModel)]="ubicationSite" maxlength="400" />
        </div>
        <div>
          <label for="coordenadas">{{ 'Coordenadas' | transloco }}</label>
          <input type="text" id="coordenadas" name="coordenadasSite" [(ngModel)]="coordenadasSite" maxlength="40"
            placeholder="{{ 'Ejemplo: 20.1823,-16.834' | transloco }}" />
        </div>
        <div>
          <label for="contactoSitio">{{ 'Nombre del Contacto en Sitio' | transloco }}</label>
          <input type="text" id="contactoSitio" name="nameSite" [(ngModel)]="nameSite" maxlength="200" />
        </div>
        <div>
          <label for="telSitio">{{ 'Teléfono con lada' | transloco }}</label>
          <input type="text" id="telSitio" name="telSite" [(ngModel)]="telSite" maxlength="12" />
        </div>
        <div>
          <label for="celSitio">{{ 'Celular' | transloco }}</label>
          <input type="tel" maxlength="12" id="celSitio" name="celSite" [(ngModel)]="celSite" />
        </div>
        <div>
          <label for="departamentoSitio">{{ 'Departamento (Ingeniero encargado)' | transloco }}</label>
          <input type="text" id="departamentoSitio" name="depSite" [(ngModel)]="depSite" maxlength="600" />
        </div>
        <div>
          <label for="horarioAtencion">{{ 'Horario de atención' | transloco }}</label>
          <input type="time" id="horarioAtencion" name="timeSite" [(ngModel)]="timeSite" />
          <small><i>{{ 'Seleccione el horario en que desea que esta disponible para la atención' | transloco
              }}</i></small>
        </div>
        <div>
          <label for="megasAprox">{{ 'Megas Aproximados' | transloco }}</label>
          <input type="text" id="megasAprox" name="megasSite" [(ngModel)]="megasSite" maxlength="20" />
        </div>
        <div>
          <label for="numEnlaces">{{ 'Número de Enlaces' | transloco }}</label>
          <input type="text" id="numEnlaces" name="noEnlace_sit" [(ngModel)]="noEnlace_sit" maxlength="10" />
        </div>
      </div>
    </fieldset>



    <!-- DOCUMENTACION SOLICITADA -->
    <fieldset>
      <legend>{{ 'DOCUMENTACIÓN SOLICITADA' | transloco }}</legend>
      <p>
        {{ 'El presente formato deberá ser acompañado por la siguiente documentación como requisito de Alta (En copias o
        correo electrónico proporcionado por el vendedor):' | transloco }}
      </p>
      <ul>
        <li>
          <strong>{{ 'Persona Física' | transloco }}</strong>
          <ul>
            <li>{{ 'Cédula Fiscal (En caso de requerir Factura)' | transloco }}</li>
            <li>{{ 'Comprobante de domicilio' | transloco }}</li>
            <li>{{ 'Identificación Oficial (INE)' | transloco }}</li>
          </ul>
        </li>
        <li>
          <strong>{{ 'Persona Moral' | transloco }}</strong>
          <ul>
            <li>{{ 'Acta Constitutiva' | transloco }}</li>
            <li>{{ 'Protocolización de acta (En caso de haber)' | transloco }}</li>
            <li>{{ 'Identificación del Representante Legal' | transloco }}</li>
            <li>{{ 'Cédula Fiscal' | transloco }}</li>
            <li>{{ 'Opinión de cumplimiento (Actual)' | transloco }}</li>
            <li>{{ 'Carátula de Estado de Cuenta' | transloco }}</li>
            <li>{{ 'Comprobante de domicilio (Menor a 3 meses)' | transloco }}</li>
            <li>{{ 'Folio Mercantil' | transloco }}</li>
          </ul>
        </li>
      </ul>

      <div class="file-upload">
        <small>{{ 'Adjunte los archivos en un folder y luego comprímalos' | transloco }}</small>
        <small>
          <p>{{ 'Solo formato .ZIP' | transloco }}</p>
        </small>
        <small>
          <p>{{ 'Que no pase de 50 MegaBytes' | transloco }}</p>
        </small>
        <label for="zipInput" class="file-label">{{ 'Subir Archivo Comprimido' | transloco }}</label>
        <input type="file" accept="zip" id="zipInput" class="file-input" (change)="onFileSelected($event, 'zipFile')">

        <span class="file-name" style="color: green" *ngIf="zipFileName">{{zipFileName}}</span>

        <span class="file-name" style="color: red; font-size:medium;" *ngIf="zipFileName === ''">
          {{ '*Ningún archivo seleccionado' | transloco }}
        </span>
        <br>
      </div>
    </fieldset>

    <!-- DATOS DEL VENDEDOR -->
    <fieldset>
      <legend>{{ 'DATOS DEL VENDEDOR' | transloco }}</legend>
      <div class="two-columns">
        <div>
          <label for="nombreVendedor">{{ 'Nombre del vendedor' | transloco }}</label>
          <input type="text" id="nombreVendedor" maxlength="60" name="nameVen" [(ngModel)]="nameVen" />
        </div>
        <div>
          <label for="oficina">{{ 'Oficina' | transloco }}</label>
          <input type="text" id="oficina" name="oficinaVen" [(ngModel)]="oficinaVen" maxlength="70" />
        </div>
        <div>
          <div style="width: 100%; max-width: 400px; margin: auto;">
            <ng-select [items]="emailsPdnt" bindLabel="email"
              placeholder="{{ 'Selecciona uno o varios correos' | transloco }}" [(ngModel)]="emailSelected"
              [multiple]="true" name="emailSelected" class="custom-ng-select" [clearable]="true" [searchable]="true"
              dropdownPosition="auto">
            </ng-select>
          </div>
        </div>
        <div>
          <label for="celVendedor">{{ 'Celular' | transloco }}</label>
          <input type="tel" id="celVendedor" maxlength="12" name="celVen" [(ngModel)]="celVen" />
        </div>
      </div>
    </fieldset>


    <!-- Botón de envío -->
    <button type="button" (click)="submitAll()" class="btn-submit">

      {{'Enviar' | transloco }}
    </button>
  </form>
</div>